
<div class="card" style="width: 100%; color:#36486b;">
  <div class="card-header">
    <h3><%= question.user.nickname%></h3>
  </div>
  <div class="card-body">
   <h5><%= question.text %></h5>
 </div>
</div>


<div class="navigation">
  <div class="icon">
    <%= link_to edit_question_path(question) do %>
      <img src="edit.png" alt="edit" width="35px">
    <%end%>
    <%= link_to question_path(question),
            method: :delete,
            data: { confirm: 'Are you sure?' } do %>
            <img src="destroy.png" alt="destroy" width="35px">

  </div>
  <div class="icon-1">
    <%= link_to question_path(question), class: 'button', id:"button-6"  do  %>
      <div id="spin"></div>
        <span>Show</span>
    <%end%>

    <div class="fav">
      <%= link_to  (user_signed_in? && question.favourites.exists?(user_id: current_user.id)) ? "remove from favourite" : "add to favourite", favourite_question_path(question), method: :post, class: 'button span', id:"button-6" %>
    </div>
    <div id="spin"></div>

      <%end%>
  </div>
</div>
