<h4><%= question.text %></h4>
<div class="buttons d-flex align-items-center" >
  <span>
    <%= link_to  (user_signed_in? && question.favourites.exists?(user_id: current_user.id)) ? "remove from f" : "add to f", favourite_question_path(question), method: :post %>
  </span>

  <%= link_to question_path(question), class: 'button', id:"button-6"  do  %>
    <div id="spin"></div>
    <span>Show</span>
  <%end%>

  <%= link_to edit_question_path(question) do %>
    <img src="edit.png" alt="edit" width="32px">
  <%end%>
  <%= link_to question_path(question),
          method: :delete,
          data: { confirm: 'Are you sure?' } do %>
          <img src="destroy.png" alt="destroy" width="32px">

          <%end%>
</div>
