<div class="">
  <img src="" alt="">
  <div class="content">
    <div class="new">
      <%= link_to 'New question', new_question_path, class: 'btn btn-primary' %>
    </div>
  <h1>Listing questions</h1>

    <% @questions.each do |question| %>

        <h4><%= question.text %></h4>
        <div class="buttons">
          <span><%= link_to 'Show', question_path(question), class: 'btn btn-success' %></span>
          <span><%= link_to 'Edit', edit_question_path(question), class: 'btn btn-info' %></span>
          <span><%= link_to 'Destroy', question_path(question),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></span>

</div>
          <% end %>


</div>
</div>
