<h2>
  <strong>Question:</strong>
  <%= @question.text %>

</h2>
<hr>
<%= link_to edit_question_path(@question) do %>
  <img src="../edit.png" alt="edit" width="32px">
<%end%>

<%= link_to questions_path do %>
  <img src="../back.png" alt="back" width="32px">
<%end%>
<hr>
<h3>Comments:</h3>
  <%= render @question.comments%>
<h3>Add comment:</h3>
  <%=render 'comments/form'%>
