<div class="form text-center border border-light p-5 mt-5">
<p class="h4 mb-4 mt-5">Forgot your password?</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class:"text-center border border-dark  p-5 mt-5") do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mb-4" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"btn btn-info my-4 btn-block" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
