<!DOCTYPE html>
<html>
  <head>
    <title>Ask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Fondamento:ital@0;1&family=Modak&family=Roboto:ital,wght@0,100;0,400;0,500;0,900;1,100&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
        <%= render "layouts/header"%>
    </header>

    <div class="main-content">
      <div class="wrapper">
          <%= yield %>
        <%= render "layouts/footer"%>
      </div>
    </div>
  </body>
</html>
